@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bokor&family=Koulen&family=Moul&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rye&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  place-content: center;
  place-items: center;
  background-color: antiquewhite;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 75%;
  height: 70%;

  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
}

.box {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
}
.container .box:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  grid-column: span 3;
  padding: 30px;
  & .contain-prf {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .prf {
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      gap: 20px;

      & img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        border-radius: 50%;
      }
      & .txt {
        width: auto;
        height: auto;
        display: flex;
        & p {
          margin-top: 2px;
          color: rgb(122, 118, 118);
        }
        & .name h4 {
          font-size: 19px;
          padding-bottom: 5px;
        }
        & .name p {
          font-size: 14px;
          color: gray;
        }
      }
    }

    & .box-icon {
      width: auto;
      height: auto;
      display: flex;
      gap: 20px;
      & #icon {
        font-size: 20px;
        color: green;
      }
      & #icon:last-child {
        color: red;
      }
    }
  }

  & .paragraph{
    width: 70%;
    margin-top: 40px;
    & p{
        font-size: 20px;
        color: gray;
    }
  }

  & form{
    width: 100%;
    height: auto;
    position: relative;
    & input{
        width: 100%;
        padding: 15px 20px;
        outline: none;
        border: none;
        background-color: rgba(212, 212, 212, 0.292);
        border-radius: 30px;
        font-size: 20px;
    }
    & .action{
        position: absolute;
        top: 25%;
        right: 1%;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        gap: 20px;
        & #icon{
            background-color: white;
            border: 1px solid rgb(52, 50, 50);
            width: 30px;
            height: 30px;
            place-content: center;
            border-radius: 50%;
        }
        & p{
            font-size: 20px;
        }
    }
  }
}
.container .box:nth-child(4) {
  grid-column: span 2;
}
